* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e0e0e;
}


.main-container {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
}









button {
    padding: 15px 0;
    width: 120px;
    background-color: #34daba;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons a {
    text-decoration: none;
    color: #0e0e0e;
    
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}






.background-pink {
    background-color: #fc6057;
}

.background-color-orange {
    background-color: #fda061;
}
.background-color-light-green {
    background-color: #01a787;
}

.background-color-blue-light {
    background-color: #34daba;
}

.background-color-blue {
    background-color: #1bc1a1;
}

.background-light-pink {
    background-color: #fd825c;
}

@media (max-width: 940px) {
    .parent {
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 80px);
        gap: 10px;
    }
    
}
@media (max-width: 640px) {
    .parent {
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 60px);
        gap: 10px;
    }
    
}

